@import url(./notosanskr.css);
@import url(./materialicon.css);
@import url('./fontawesome.css');

input:hover,button:hover {
    cursor: pointer;
}

input:focus, button:focus {
    outline: 0;
}
* {
    font-family: 'Noto Sans KR'
}
body {
    margin: 0;
    padding: 0;
    background-color: #e7e7e7;
}
p {
    margin: 0;
}

.container .material-icons, .note-list .material-icons {
    text-shadow: 2px 2px 4px #aaaaaa;
    color: #777777;
}

.header .material-icons {
    text-shadow: 2px 2px 4px #000000;
}
.header {
    background: #3965ad;
    height: 100px;
    padding: 10px 10px 10px 30px;
    box-shadow: 0 0 16px #aaaaaa;
}
.header > h1 {
    color: #ffffff;
    font-weight: 100;
    text-shadow: 0px 4px 8px #000000;
}
h1 {
    float: left;
    
}
.menu {
    float:right;
    margin: 0 0 0 0;
    padding: 10px;
}

.menu > button {
    background-color:transparent;
    border:0;
    position: relative;
}

.header > .menu > button {
    color: #ffffff;
}

.menu > button:focus {
    outline:0;
}
.menu > button:hover {
    cursor: pointer;
}

.menu > button:hover > .tool-tip {
    visibility: visible;
    opacity: 1;
}

.tool-tip {
    visibility: hidden;
    background-color: #00000088;
    position:absolute;
    left: -8px;
    top: -20px;
    width: 50px;
    color: #f7f7f7;
    opacity: 0;
    transition: opacity 0.5s ease;
    padding:2px;
    border-radius: 4px;
    text-shadow: none;
    font-size: 6pt;
}


.container {
    max-width: 600px;
    margin: -60px auto 60px auto;
    padding:10px;
    border-radius: 10px;
    box-shadow: 0 4px 16px #aaaaaa;
    background-color: #ffffff;
}
#memo {
    width: 100%;
    height: 200px;
    border: 0;
    font-size:20pt;
    resize: none;   
}


#memo:focus {
    outline: 0;
}

.overlay, .modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    right:0;
    left:0;
    bottom:0;
    background-color: #77777755;
    justify-content: center;
    align-items: center;
    display: flex;
    visibility: hidden;
}

.overlay.overlay-toggle {
    visibility: visible;
}

.overlay > .about-layer {
    width: 800px;
    border-radius: 8px;
    box-shadow: 0 4px 8px #aaaaaa;
    background-color: #ffffff;
    margin:auto;
    display: flex;
    flex-direction:row;
    overflow: hidden;
}

.overlay > .about-layer > * {
    padding: 20px 20px;
}
.overlay > .about-layer > .profile {
    flex: 1;
    background-color: #3965ad;
    display: flex;
    align-items: center;
    flex-direction:column;
}

.overlay > .about-layer > .profile-content {
    flex: 2;
    position: relative;
}

.profile-image {
    background-image: url('../img/profile-image.jpg');
    background-size: 100%;
    width:200px;
    height:200px;
    border-radius:50%;
    box-shadow:0 0 8px #777777;
}

.profile > * {
    color: #ffffff;
}

.profile-name {
    font-weight: bold;
    font-size: 16pt;
    margin-bottom: 0;
    margin-top: 20px;
}

.profile-github {
    margin-top:0;  
}

.overlay-exit {
    position: absolute;
    border: 0;
    background-color:transparent;
    color: #777777;
    right:15px;
    top:15px;
    padding: 0;
}
.overlay-exit:hover {
    outline: 0;
}

.note-list {
    max-width: 1024px;
    background-color: #ffffff;
    box-shadow: 0 4px 16px #aaaaaa;
    padding: 40px 20px 20px 20px;
    margin: auto;
    border-radius: 8px;
}

.note-list > .note-title {
    font-size: 20pt;
}

.note-border {
    border: 2px solid #e7e7e7;
    margin-left: 0;
    margin-right: 0;
}

.note-container {
    display: flex;
    flex-direction: column;
}
.note-item {
    display: flex;   
    background-color:#ffffff;
    padding: 10px 20px;
}

.note-item > .note-item-delete {
    background-color: transparent;
    border: 0
}

.note-item > .note-item-number {
    margin: 0px 20px;
}

.note-item > .note-item-content {
    flex: 1
}

.modal-layer {
    position: absolute;
    background-color: #ffffff;
    width: 500px;
    left: calc(50% - 250px);
    top: -300px;
    box-shadow: 0 4px 12px #aaaaaa;
    border-radius: 8px;
    transition: top 0.6s ease;
    padding: 20px;
}

.modal.has-text {
    visibility: visible;
}

.modal.has-text > .modal-layer {
    top:80px;
}

.modal .modal-button {
    float: right;
}
.modal button {
    background-color: #ffffff;
    border: 0;
    font-size: 14pt;
}

.profile-content-title {
    margin: 10px 0;
    font-weight: bold;
}

.profile-content-up {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.profile-content-up > * {
    flex: 1;
}

.profile-content-down {
    height: 100px;
    display: flex;
    flex-direction: column;
}
.profile-content-wrap {
    display: flex;
    flex-direction:column;
}

.profile-content-down > p {
    text-align:right;
}